*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "manrope";
}
.container{
    width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}